{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg">
            <br>
            <div class="card">
                <h4 class="card-title">My global score</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <h5 class="card-title">Statistics</h5>
                                <p class="card-text">Number of quiz completed: {{ score.Quiz_completed }}</p>
                                <p class="card-text">Number of quiz not completed: {{ score.Quiz_not_completed }}</p>
                                <p class="card-text">Total number of quiz available: {{ score.Quiz_total }}</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card h-60">
                                <div class="card-body">
                                    <h5 class="card-title">Distribution</h5>
                                    <div id="distribution_chart">{{ distribution|safe }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="card">
                <h4 class="card-title">Quiz completed</h4>
                </a>
                <div class="card-body">

                    {% for quiz in passed_quiz %}

                    <div class="card">
                        <a class="card-title" href="/quiz/{{quiz.id}}/">
                            <h5 >{{ quiz.quiz.name}}</h5>
                        </a>
                        <div class="card-body">
                            <p class="card-text">Scored: {{ quiz.result_quiz }}</p>
                            <p class="card-text">Done on {{ quiz.date_quiz_done }}</p>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>
