{% extends 'skeleton.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}


{% block title %}Create a quizz{% endblock %}

{% block content %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<div>
   {{ quiz_form.errors }}
    <form method="post" action="" enctype="multipart/form-data">
        {{ quiz_form|crispy }}
        {% csrf_token %}
          <fieldset>
          <legend>Add a question</legend>

          <div>
            {{ question_form.management_form|crispy }}
            {% for question in question_form %}
             <div class="link-formset">
              {{ question|crispy }}
            </div>
            {% endfor %}

          </div>


        </fieldset>

    <button type="submit" value="Submit">Submit</button>

    </form>
    <script>
        $('.link-formset').formset({
            addText: 'Add  a question',
            deleteText: 'Remove  a question'
        });
    </script>

{% endblock %}