{% extends 'skeleton.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Create a quizz{% endblock %}
{% block content %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<div class="container">
    <h3>Create a quiz</h3>
    {{ quiz_form.errors }}
    <form method="post" action="" enctype="multipart/form-data">
        {{ quiz_form|crispy }}
        {% csrf_token %}
        <fieldset>
            <h2>Add questions</h2>
            <div>
                {{ question_form.management_form|crispy }}
                {% for question in question_form %}
                <div class="link-formset">
                    <h3 class="question-title">Write your question</h3>
                    {{ question|crispy }}
                </div>
                {% endfor %}
            </div>
        </fieldset>
        <button type="submit" class="btn btn-success" value="Submit">Submit</button>
    </form>
</div>
<script>
        $('.link-formset').formset({
            addText: 'Add  a question',
            deleteText: 'Remove  a question'
        });
</script>
{% endblock %}