<html>
<head>
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="static/js/searchQuiz.js"></script>
    <meta charset="UTF-8" />

    <link rel="stylesheet" type ="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static '/media/logo.ico' %}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
    <a class="navbar-brand" href="/">
        <img src="{% static "/media/logo.png" %}" alt="My image">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="nav-link" href="/">Quizz Feed</a>
            </li>
            <li>
                <a class="nav-link" href="/">Category</a>
            </li>
        </ul>
        {% endif %}
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <li class="nav-item">
                        <a class="nav-link" href="/quizCreationForm">Create a quiz</a>
                {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            <li class="nav-item">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>